<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALL_ROOT" Name="Sample Wrangler"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="PROGRAM_MENU_FOLDER" Name="Sample Wrangler"/>
            </Directory>
        </Directory>
    </Fragment>
</Wix>