<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Feature Id="ProductFeature" Display="expand" Absent="disallow" ConfigurableDirectory="INSTALL_ROOT" Title="Sample Wrangler" Level="1"/>
        <FeatureRef Id="ProductFeature">
            <ComponentRef Id="CM_CP_REX_Shared_Library.dll"/>
            <ComponentRef Id="CM_CP_SampleWrangler.exe"/>
        </FeatureRef>
        <FeatureRef Id="ProductFeature">
            <ComponentRef Id="CM_SHORTCUT"/>
        </FeatureRef>
    </Fragment>
</Wix>